---
---
<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}

<body data-spy="scroll" data-target="#main-navbar">
	<div class="page-loader"></div> <!-- Display loading image while page loads -->
	<div class="body">

		{% include header.html %}
		{% include carousel.html %}
		{% include about.html %}
		{% include portfolio.html %}
		{% include counter.html %}
		{% include cta.html %}
		{% include contact.html %}
		{% include footer.html %}

		<a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

	</div><!-- body ends -->
	{% include jsfiles.html %}

</body>


</html>
