<div id="particles-js"></div>
<section id="text-carousel-intro-section" class='parallax'> <!-- style="background-image: url(img/slider-bg.jpg);"> -->

  <div class="container">
    <div class="caption text-center text-white" data-stellar-ratio="0.7">
      <div class="item">
        <h1>Hello, I'm salvador</h1>
        <p>Let's build the future together</p>
                        <div class="extra-space-l"></div>
        <a class="btn btn-blank page-scroll" href="#about-section" role="button">View More!</a>
      </div>
    </div> <!-- /.caption -->
  </div> <!-- /.container -->

</section>
