<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5"> <!--style="background-image: url(img/map-bg.jpg);"> -->
  <div class="cover"></div>

  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
        <h2>Contact</h2>
        <div class="devider"></div>
        <p class="subtitle">Stay in touch!</p>
      </div>
    </div>
  </div>
  <!-- End page header-->

  <div class="contact wow bounceInRight" data-wow-delay="0.4s">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <div class="contact-info">
            <h4>My Information</h4>
            <ul class="contact-address">
              <!-- <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 100 Limpbiscayne Blvd. (North) 17st Floor ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; New World Tower New York ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; New York,
                USA, 33148</li> -->
              <li><i class="fa fa-envelope"></i>{{site.email}}</li>
              <li><i class="fa fa-user"></i>{{site.author}}</li>
              <li><i class="fa fa-city"></i>{{site.location}}</li>
			  <li><i class="fab fa-linkedin-in"></i><saleguas</li>

            </ul>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="contact-form">
            <h4>Write to me!</h4>
            <form role="form" action="https://formspree.io/xvoaenae" method='POST'>
              <div class="form-group">
                <input type="text" name='name' class="form-control input-lg" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" name='email' class="form-control input-lg" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <input type="text" name='message' class="form-control input-lg" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control input-lg" rows="5" placeholder="Message" required></textarea>
              </div>
              <button type="submit" value="Send" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
            </form>
          </div>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
</section>
