<section id="counter-section">
  <div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5"> <!-- style="background-image: url({{ '/img/coffee-bg.jpg' | relative_url}});"> -->
    <div class="cover"></div>
    <!-- Begin page header-->
    <div class="page-header-wrapper">
      <div class="container">
        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
          <h2>Some Fun Facts</h2>
          <div class="devider"></div>
          <p class="subtitle">"Standards are always out of date.  That’s what makes them standards."</p>
        </div>
      </div>
    </div>
    <!-- End page header-->
    <div class="container">
      <div class="row">
        <div class="fact text-center col-md-4 col-sm-6">
          <div class="fact-inner">
            <i class="fa fa-tasks fa-3x"></i>
            <div class="extra-space-l"></div>
            <span class="counter">10</span>
            <p class="lead">FOSS projects</p>
          </div>
        </div>

        <div class="fact text-center col-md-4 col-sm-6">
          <div class="fact-inner">
            <i class="fa fa-users fa-3x"></i>
            <div class="extra-space-l"></div>
            <span class="counter">237</span>
            <p class="lead">Contributions in the past year</p>
          </div>
        </div>

        <div class="fact text-center col-md-4 col-sm-6">
          <div class="fact-inner">
            <i class="fa fa-file fa-3x"></i>
            <div class="extra-space-l"></div>
            <span class="counter">8</span>
            <p class="lead">Published articles</p>
          </div>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
</section>
