<!-- Google Fonts  -->
<link  href= '{{ "https://fonts.googleapis.com/css?family=Roboto:400,700,500" | relative_url }}' rel='stylesheet' type='text/css' media="none" onload="if(media!='all')media='all'"> <!-- Body font -->
<link  href=' {{ "https://fonts.googleapis.com/css?family=Lato:300,400" | relative_url }}' rel='stylesheet' type='text/css' media="none" onload="if(media!='all')media='all'"> <!-- Navbar font -->

<!-- Libs and Plugins CSS -->
<link rel="stylesheet" href="{{ '/inc/bootstrap/css/bootstrap.min.css' | relative_url }}" media="none" onload="if(media!='all')media='all'">
<link rel="stylesheet" href="{{ '/inc/animations/css/animate.min.css' | relative_url }}" media="none" onload="if(media!='all')media='all'">
<link rel="stylesheet" href="{{ '/inc/font-awesome/css/font-awesome.min.css' | relative_url }}" media="none" onload="if(media!='all')media='all'"> <!-- Font Icons -->
<!-- <link rel="stylesheet" href="{{ '/inc/owl-carousel/css/owl.carousel.css' | relative_url}}">
<link rel="stylesheet" href="{{ '/inc/owl-carousel/css/owl.theme.css' | relative_url }}"> -->

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ '/css/reset.css' | relative_url }}" media="none" onload="if(media!='all')media='all'">
<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" media="none" onload="if(media!='all')media='all'">
<link rel="stylesheet" href="{{ '/css/mobile.css' | relative_url }}" media="none" onload="if(media!='all')media='all'">

<!-- Skin CSS -->
<link  rel="stylesheet" href="{{ '/css/skin/cool-gray.css' | relative_url }}" media="none" onload="if(media!='all')media='all'">
<!-- <link rel="stylesheet" href="css/skin/ice-blue.css"> -->
<!-- <link rel="stylesheet" href="css/skin/summer-orange.css"> -->
<!-- <link rel="stylesheet" href="css/skin/fresh-lime.css"> -->
<!-- <link rel="stylesheet" href="css/skin/night-purple.css"> -->
