<section id="cta-section">
  <div class="cta">
    <div class="container">
      <div class="row">

        <div class="col-md-9">
          <h1>Download Resume</h1>
          <p>Want to know more about me? Here's my resume for a short one page summary of myself.</p>
        </div>

        <div class="col-md-3">
          <div class="cta-btn wow bounceInRight" data-wow-delay="0.4s">
            <a class="btn btn-default btn-lg" href="{{'/Aleguas_Salvador_Resume.pdf' | relative_url}}" role="button" download>Download Resume</a>
          </div>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
</section>
