<footer class="text-off-white">

  <div class="footer-top">
    <div class="container">
      <div class="row wow bounceInLeft" data-wow-delay="0.4s">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
          <h4>Useful Links</h4>
          <ul class="imp-links">
            {% for item in site.data.useful %}
            <li>
              <a href="{{item.url}}" target="_blank">{{item.name}}</a>
            </li>
            {% endfor %}
            <!-- <li><a href="https://github.com/saleguas?tab=repositories">GitHub</a></li>
            <li><a href="mailto:{{site.email}}">Email</a></li>
            <li><a href="https://medium.com/@salvadoraleguas">Medium</a></li> -->
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
          <h4>Narrative</h4>
          <p>{{site.description}}</p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
          <h4>Recent Projects</h4>
          <div class="single-tweet">
            <div class="tweet-content">Using OpenAI gym for reinforcement learning</div>
            <div class="tweet-date">Present</div>
          </div>
          <div class="single-tweet">
            <div class="tweet-content">Writing a library to simplify creating cross-platform Context menus.</div>
            <div class="tweet-date">Finished 06/1/2020</div>
          </div>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>

  <div class="footer">
    <div class="container text-center" >
      <p class="copyright">Copyright &copy; 2021 - {{site.author}}
      </p>
    </div>
  </div>

</footer>
