<!-- Plugins JS -->
<!-- <script defer src="{{ 'inc/jquery/jquery-1.12.4.min.js' | relative_url }}"></script> -->


<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<!-- <script defer src="{{ 'inc/owl-carousel/js/owl.carousel.min.js' | relative_url }}"></script> -->
<!-- <script defer src="{{ 'inc/stellar/js/jquery.stellar.min.js' | relative_url }}"></script> -->
<script defer src="{{ 'inc/animations/js/wow.min.js' | relative_url }}"></script>
<script defer src="{{ 'inc/waypoints.min.js' | relative_url }}"></script>
<script defer src="{{ 'inc/isotope2.pkgd.min.js' | relative_url }}"></script>
<script defer src="{{ 'inc/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>

<script defer src="{{ 'inc/classie.js' | relative_url }}"></script>
<script defer src="{{ 'inc/jquery/jquery.easing.min.js' | relative_url }}"></script>
<script defer src="{{ 'inc/jquery/jquery.counterup.min.js' | relative_url }}"></script>
<!-- <script defer src="{{ 'inc/jquery/jquery.lazy.min.js' | relative_url }}"></script> -->

<!-- <script defer src="{{ 'inc/smoothscroll.js' | relative_url }}"></script> -->
<script defer src="{{ 'inc/particles.min.js' | relative_url }}"></script>

<script defer src="https://kit.fontawesome.com/1c6fd62fff.js" crossorigin="anonymous"></script>


<script defer src="https://code.jquery.com/jquery-migrate-3.1.0.js"></script>

<!-- Theme JS -->
<script defer src= "{{ 'js/theme.js' | relative_url }}"></script>
