<section id="portfolio-section" class="page bg-style1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="portfolio">
          <!-- Begin page header-->
          <div class="page-header-wrapper">
            <div class="container">
              <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>My Projects</h2>
                <div class="devider"></div>
                <p class="subtitle">"The more you know, the more you realize you know nothing."</p>
              </div>
            </div>
          </div>
          <!-- End page header-->
          <div class="portfoloi_content_area">
            <div class="portfolio_menu" id="filters">
              <ul>
                <li class="active_prot_menu"><a href="#porfolio_menu" data-filter="*">all</a></li>
                <li><a href="#porfolio_menu" data-filter=".Libraries">Libraries</a></li>
                <li><a href="#porfolio_menu" data-filter=".Publications">Publications</a></li>
                <li><a href="#porfolio_menu" data-filter=".Fullstack">Fullstack Applications</a></li>
                <li><a id='baseActive' href="#porfolio_menu" data-filter=".Other">Other</a></li>

              </ul>
            </div>
            <div class="portfolio_content">
              <div class="row" id="portfolio">

                {% for project in site.data.projects %}
                <div class="col-xs-12 col-sm-4 {{project.category}}">
                  <div class="portfolio_single_content">
                    <img data-frz-src="{{ project.img | relative_url }}" alt="title" class='sliderImg' src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lzld(this)" onerror="lzld(this)" />
                    <div>
                      <a href="{{project.link}}" target="_blank">{{project.title}}</a>
                      <span>{{project.subtitle}}</span>
                    </div>
                  </div>
                </div>
                {% endfor %}


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
